.app-title{
    color: #AAAAAA;
    text-transform: capitalize;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card {
    width: 205px;
    /* margin: 1rem; */
    background-color: var(--gray);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.movie-card .thumbnail {
    max-width: 100%;
}

.movie-info {
    color: var(--green);
    display: flex;
    font-weight: 500;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
}

.movie-name{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    flex: 50%;
}

.movie-year{
    flex: 50%;
    font-size: 15px;
    color: #767676;
}

.movie-genre{
    font-size: 13px;
    padding: 0.5px 7px;
    border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1C1C1C;
    color: #83FFA5;
}

.movie-rating{
    color: #767676;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;
}

