.app-title{
    color: #AAAAAA;
    text-transform: capitalize;
}

/* .movie-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: center;
}

.movie-card {
    width: 225px;
    background-color: var(--gray);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.thumbnail {
    max-width: 100%;
    opacity: 1;
    transition: .5s ease;
}

.thumbnail-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail-container:hover .thumbnail{
    opacity: 0.3;
    cursor: pointer;

}

.thumbnail-container:hover .thumbnail-middle{
    opacity: 1;
    cursor: pointer;

} 

.thumbnail-middle-text{
    font-weight: 500;
    color: #83FFA5;
    font-size: 16px;
    padding: 16px 32px;
}

.thumbnail-container{
    margin-bottom: 7px;
}

.movie-info {
    color: var(--green);
    display: flex;
    font-weight: 500;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
}

.movie-name{
    color: white;
    font-size: 18px;
    margin-bottom: 3px;
    text-transform: capitalize;
    flex: 50%;
    transition: .5s ease;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.movie-name:hover{
    color: rgba(255, 255, 255, 0.493);
    cursor: pointer;
    text-overflow: unset;
    overflow: visible;
    white-space: normal;
}

.movie-year{
    flex: 50%;
    font-size: 15px;
    color: #767676;
}

.movie-genre{
    font-size: 13px;
    padding: 0.5px 7px;
    border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1C1C1C;
    color: #83FFA5;
}

.movie-rating{
    color: #767676;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;
}

